a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px 1px red;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px 1px red;
}
a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px 1px lightblue;
}
a:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px 1px lightblue;
}
body{
    background-color:#FAEBD7;
}
.button {
  color: #3732CD;
  border: 2px solid #1a8cff;
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background : #66b3ff;
}
.button:hover{
    color:  #991f00;
    border: 2px solid lightskyblue;
    border-radius: 25px;
    padding: 5px 10px;
    display: inline-block;
    font-family: "Times New Roman", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    background : lightblue;
}

p.texts {
    font-family: "Times New Roman", Times, serif;
    font-size : 25px;
    color :  #3732CD;
    text-shadow: 1px 1px 1px #C8CD32;
}

#title{
    font-family: "Times New Roman", Monaco, monospace;
    font-weight: bold;
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
  }
 textarea {
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    position: relative;
    left: 0;
    outline: none;
    padding: 0;
  }